<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Review</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap">
    </head>
    <body>
        <h1>RENTAL REVIEW FORM PAGE</h1>
        <div class='container'>
            <form action="#" method="post">
                {% csrf_token %}
                <!-- {{ form.as_ul }} -->
                <!-- {{ form.as_p }} -->

                <!-- <div>
                    <p>{{ form.first_name.label_tag }} {{ form.first_name }}</p>
                </div>

                <div>
                    {{ form.last_name.label_tag }} {{ form.last_name }}
                </div> -->

                {% for field in form %}
                    <div class='form-control'>
                        {{ field.label_tag }}{{field}}
                    </div>
                {% endfor %}

                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>